<!DOCTYPE html>
<html>

    <head>
        <title>HTML5 / CSS3 RESPONSEFE</title>
        <link href="~/Content/Stylefortest.css" rel="stylesheet" />
        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
      
     <body class="body"> 
     <header class="mainheader">
         <img src="~/images/header.jpg" />
         <nav>
             <ul>
                 <li><a href="#">HOME</a></li>
                 <li><a href="#">PROFILE</a></li>
                 <li><a href="#">ABOUT</a></li>
                 <li><a href="#">CONTACT</a></li>
             </ul>
         </nav>
     </header>

         @*////////////////////////////////////////////////////////////*@
     <div class="maincontent">
         <section class="top-content">
             <header>
                 <h2><a href="#"> MY SCHOOL IS HERRE </a> </h2>
             </header>
             <footer>
                <p class="post-info">written by : badr ahmed</p> 
             </footer>
             <article>
                 <figure>
                     <img src="~/images/ahmed.jpg" class="post-image" />
                     <figcaption>
                         kjfl;djfkjsda;alfjdsl;kfj;dslkjfl;dsjflkdsjfldsjfl;dsjf;jdsf;ljdl;fjd;fkd
                         dsfjlkdsjflkdjsl;kfjdsl;fjdls;kjfl;dksjflk;dsjflkdsjlf;kjdslkfjdlsksfjkdskslf
                     </figcaption>
                 </figure>
                
                 <p class="post-content">
                     kjfl;djfkjsda;alfjdsl;kfj;dslkjfl;<bdi> التعليم من اهم المجالات في الحياة</bdi>
                     dsfjlkdsjflkdjsl;kfjdsl;<mark>dlkfdslfjlkds;jflkdsajflkdsajfalkdsjflkjdslkfjdslkfjdlskjfl;kdsjflkdsj</mark>
                     fldksfdflkdsjl;fjdslkfjl.
                     <details>
                         <summary> know more about shcool </summary>
                         adksjflkdsjflk;dsjflkdsjlfkjdslkfjdslksfjlkdsjflkdsjfkldjlkf
                         lkdfjlkdsjfl;kdsjlfkjdslkfjdlskjflkdsjflkdsjflkdjlkfjdlkfjkdjfkldjflkdjfkdjkf
                     </details>
                 </p>
             </article>
         </section>

         <section class="top-content">
             <header>
                 <h2><a href="#"> VIDEO TOTURAIL </a> </h2>
             </header>
             <footer>
                 <p class="post-info">written by : badr ahmed</p>
             </footer>
             <article>
                 <video src="~/images/vide1.mp4" width="100%" height="500" controls>
                     <p> your browser doesnot support video file</p>
                 </video>
                 <p class="post-content">
                     kjfl;djfkjsda;alfjdsl;kfj;dslkjfl;dsjflkdsjfldsjfl;dsjf;jdsf;ljdl;fjd;fkd
                     dsfjlkdsjflkdjsl;kfjdsl;fjdls;<small>dlkfdslfjlkds;jflkdsajflkdsajfalkdsjflkjdslkfjdslkfj</small>
                     dlskjfl;kdsjflkdsjfldksfdflkdsjl;fjdslkfjl;adksjflkdsjflk;dsjflkdsjlfkjdslkfjdslksfjlkdsjflkdsjfkldjlkf
                     lkdfjlkdsjfl;kdsjlfkjdslkfjdlskjflkdsjflkdsjflkdjlkfjdlkfjkdjfkldjflkdjfkdjkf
                     <br />
                     <span>photoshop</span>
                     <meter value="40" min="0" max="100"></meter>
                     <span>illuseter</span>
                     <meter value="80" min="0" max="100"></meter>
                     <br />
                     <span>HTML</span>
                     <progress value="90" max="100"></progress>

                     <br />
                     <br />
                 </p>
             </article>
         </section>

         <section class="top-content">
             <header>
                 <h2><a href="#"> ANASHED I LIKE </a> </h2>
             </header>
             <footer>
                 <p class="post-info">written by : badr ahmed</p>
             </footer>
             <article>
                <img src="~/images/comming.jpg"/>
                 <p class="post-content">
                     kjfl;djfkjsda;alfjdsl;kfj;dslkjfl;dsjflkdsjfldsjfl;dsjf;jdsf;ljdl;fjd;fkd
                     dsfjlkdsjflkdjsl;kfjdsl;fjdls;dlkfdslfjlkds;jflkdsajflkdsajfalkdsjflkjdslkfjdslkfj
                     dlskjfl;kdsjflkdsjfldksfdflkdsjl;fjdslkfjl;adksjflkdsjflk;dsjflkdsjlfkjdslkfjdslksfjlkdsjflkdsjfkldjlkf
                     lkdfjlkdsjfl;kdsjlfkjdslkfjdlskjflkdsjflkdsjflkdjlkfjdlkfjkdjfkldjflkdjfkdjkf
                 </p>
                 <iframe width="100%" height="315" src="https://www.youtube.com/embed/dlPHaql4ezE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
             </article>
         </section>

     </div>

         @*///////////////////////////////////////////////////////////////*@
         <aside>
             <article class="thesidebar">
                 <h1><a href="#"> FIRST SIDE BAR </a></h1>
                 <p contenteditable="true">
                     kjfldsjf;ljds;lkfjdl;ksjflkdsjflkdjfldjfdjsfjkld
                     lkdsjflkdjflkdjlkfjdklsjflkdsjflkdjlkfjd
                 </p>
             </article>
         </aside>

         <aside>
             <article class="thesidebar">
                 <h1><a href="#"> SECOND SIDE BAR </a></h1>
                 <p>
                     kjfldsjf;ljds;lkfjdl;ksjflkdsjflkdjfldjfdjsfjkld
                     lkdsjflkdjflkdjlkfjdklsjflkdsjflkdjlkfjd
                 </p>
             </article>
         </aside>

         <aside>
             <article class="thesidebar">
                 <h1><a href="#"> THIRD SIDE BAR </a></h1>
                 <p>
                     kjfldsjf;ljds;lkfjdl;ksjflkdsjflkdjfldjfdjsfjkld
                     lkdsjflkdjflkdjlkfjdklsjflkdsjflkdjlkfjd
                 </p>
             </article>
         </aside>

         @*////////////////////////////////////////////////////////////////*@
     <footer class="footer">
         <p> copy rights</p>
     </footer>

           

        

        
        
        @RenderBody()



    </body>


</html>
